@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 


@layer base{
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.primary-color');
  }
  *{
    margin:0;
  }

  /* Typography */
  h1,h2,h3{
    color: theme('colors.primary-color');
    font-family: Alata;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }
  h3{
    color: #000;
    font-size: 1.6rem;
  }
  p, span{
    font-family: Nunito;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.64px;
  }
  span{
    color: theme('colors.primary-color');
    font-size: 1rem;
  }
  a{
    color: theme('colors.primary-color');
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 600;
  }
    a:hover{
      text-decoration: underline;
    }

  /* Other */
  input:focus{
    outline: none;
    border: 1px solid theme('colors.primary-color');
  }
}

@layer components{

  .button{
    width: 350px;
    height: 45px;
    padding: 10px 15px;
    
    border-radius: 10px;

    transition-duration: 120ms;
  }
    .button:hover{
      color:theme('colors.primary-color');
      background-color: #FFF;
      border: 2px solid theme('colors.primary-color');
    }
  .primary{
    background-color: theme('colors.primary-color');
    color: #FFFF;
  }

  .input-box{
    display: flex;
    width: 350px;
    height: 45px;
    padding: 15px 25px;


    border-radius: 10px;
    background: #F5F5F5;
  }

  /* error classes */
  .error-border{
    border: 1px solid #ED0800;
  }
  .error-text{
    color: #ED0800;
    font-size: 0.7rem;
    font-weight: 200;

    width: 80%;
  }
}